.protein-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 640px;
    margin: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.form-column-span {
    grid-column: 1 / -1;
}

.protein-form .btn {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    border: none;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
}

.protein-form .btn:hover {
    background-color: rgb(20, 20, 20);
}