/* .table-wrapper {
    width: 100%;
} */

.table {
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    /* box-shadow: 0px 10px 10px #ccc; */
    border-radius: 4px;
    white-space: nowrap;
    margin: auto;
    border: 1px solid #ccc;
}

.table thead {
    background-color: #ccc;
    color: #222;
}

.sortable-header {
    cursor: pointer;
    user-select: none;
    padding: 8px 12px;
    text-align: left;
}

.header-content {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.sort-icon {
    font-size: 0.75em;
}

.table th,
.table td {
    padding: 0.5rem;
}

.table td {
    border-top: 0.5 solid #ccc;
}

.table th:not(:first-child) {
    border-left: 1px solid rgb(255, 255, 255);
}

.table tbody tr:hover {
    background-color: #eee;
}

.expand {
    width: 100%;
}

.delete-btn {
    margin: 0;
    color: #e10d05;
    border: none;
    width: 1.75em;
    height: 1.75em;
    display: grid;
    place-items: center;
    background-color: unset;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c2c2c2;
}